.robots-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/* Robot */
.robot-container {
    background-color: white;
    text-align: center;
    width: 200px;
    height: 250px;
    margin: 10px 20px;
    border-radius: 5px;
    filter: brightness(80%);
    box-shadow: inset 0px 0px 5px black;
}
.robot-container:hover {
    filter: brightness(100%);
}
.robot-container img {
    width: 35%;
    border-radius: 50px;
    background: #237ce2;
}
.robot-container > * {
    margin: 5px auto;
}

/* Button style for following robot */
.robot-container button {
    padding: 2px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
button.following {
    background: #108505;
    color: white;
    border: 1px solid #237ce2;
}