.home {
}

.homeHeader {
  text-align: center;
  font-size: 1.7rem;
}

.robotGrid {
  margin: 0 auto;
  padding: 2% 0;
  width: 95%;
  display: grid;
  vertical-align: middle;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 5%;
  grid-row-gap: 1%;
}

.robotCard {
  background-color: white;
  text-align: center;
  height: 285px;
  border-radius: 4px;
  padding: 7%;
}

.robotName {
  font-size: 1.4rem;
}

.robotAvatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #7099c8;
  object-fit: cover;
}

.robotTitle {
  font-size: 1.1rem;
}

.robotEmail {
  font-size: 1rem;
}
