.Employee {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.Employee-card {
    border-radius: 5px;
    background-color: white;
    max-width: 300px;
    max-height: 300px;
    min-width: 300px;
    min-height: 300px;
    padding: 5px;
    margin: 15px;
}

h3, h4 {
    margin-top: 0;
    margin-bottom: 4px;
}

.avatar {
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
    margin: 5px;
    border-radius: 50%;
    border-width: 0;
    background-color: #6699CC;
}