.profile {
  .card {
    border-style: solid;
    border-width: thick;
    border-color: #2AA29A;
    border-radius: 0;
    background-color: #F7F7F7;
    height: 100%;
  }

  img {
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
}
