.App {
  text-align: center;
}

/* ROBOT CARD  */
.robotContain {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.robotGroup {
  flex: 1 1 20%;
  margin: 5px;
  height: 200px;
  border-radius: 8px;
  border: 1px solid black;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.robotAvatar {
  width: 50px;
  height: 50px;
  background-size: cover;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}