body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.robots-grid{
  margin: 50px 50px;
  display: inline-flex;
  flex-flow: row wrap;
}

.robot{
  flex: 1 1 auto;
  width: 215px;
  height: 215px;
}

img{
  background-color: pink;
  border-radius: 50px;
}