.card {
  background-color: white;
  border-radius: 5%;
  height: 225px;
  margin: 20px;
  padding: 10px;
  width: 225px;
}

img {
  border-radius: 50%;
  background: lightblue;
}

button:hover {
  cursor: pointer;
}